<h1><%= @planet.name %></h1>

<div class="planet-container">

  <div class="show_img">
    <img class="profile_img" src="<%= @planet.image_url %>">
  </div>

  <div class="info">
    <h3>Life Present?:</h3><p><%= (@planet.life).to_s.capitalize %></p>

    <div class="moons">
      <h3>Moons</h3>
      <ul>
        <% @planet.moons.each do |moon| %>
          <li><%= moon.name %></li>
        <% end %>
      </ul>

    </div>
  </div>
</div>

<div class="footer">
  <div class="button_show_moon">
    <a href="/planets/<%= @planet.id %>/moons/new"><button>Does <%= @planet.name %> have a new moon?</button></a>
  </div>

  <div class="button_show_edit">
    <a href="/planets/<%= @planet.id %>/edit"><button>Edit <%= @planet.name %></button></a><br>
  </div>

  <div class="button_show_home">
    <%= button_to "Back to the Mother Ship", planets_path, :class => "planet_home_button", :method => :get %>
  </div>
</div>


