<h1><%= @planet.name %></h1>

<div class="planet-container">

  <div class="show_img">
    <img class="profile_img" src="<%= @planet.image_url %>">
  </div>

  <div class="info">
    <h3>Life Present?:</h3><p><%= (@planet.life).to_s.capitalize %></p>

    <div class="moons">
      <h3>Moons:</h3>
        <% @planet.moons.each do |moon| %>
        <div class="moon">
          <a href="/planets/<%= @planet.id %>/moons/<%= moon.id %>/edit"><p><%= moon.name %></p></a>
          <img src="<%= moon.image_url %>">
          <%= button_to "Delete", planet_moon_path(@planet, moon), :class => "moon_delete_button", :method => :delete %>
        </div>
        <% end %>
    </div>

    </div>
  </div>
</div>

<div class="footer">
  <div class="button_show_moon">
    <%= button_to "Does this planet have a new moon?", new_planet_moon_path(@planet), :class => "planet_button", :method => :get %>
  </div>

  <div class="button_show_edit">
    <%= button_to "Edit", edit_planet_path, :class => "planet_button", :method => :get %>
  </div>

  <div class="button_show_home">
    <%= button_to "Back to the Mother Ship", planets_path, :class => "planet_button", :method => :get %>
  </div>
</div>


