<h1>Welcome <%= @planet.name %>'s new moon!</h1>

<%= form_for @moon, url: {action: "create"}, html: {class: "new_moon_form"} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, :placeholder => "Name" %>
  <%= f.label "Image URL" %>
  <%= f.text_field :image_url, :placeholder => "Image" %>
  <%= f.submit "Create" %>
<% end %>
